body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2 {
    color: #0056b3;
}

header {
    padding: 2rem;
}

.carousel-item img {
    max-height: 300px;
    object-fit: contain;
}
